<div class="course-completion-list">
  <h2>{{ title }}</h2>
  <p class="description">
    {{ description }}
  </p>
  <table class="course-table">
    <thead>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td class="title">
            {% if course.url %}
              <a href="{{ course.url }}">{{ course.title }}</a>
            {% else %}
              {{ course.title }}
            {% endif %}
          </td>
          <td class="verify-list"><a href="{{ course.verification_url }}" class="verify" target="_blank">{{ verification_label }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
