{# Template: mypage-courses.html.twig #}
<h2 class='mypage_title'>{{ 'My Courses'|t }}</h2>

{% if in_progress_courses %}
  <div class="ongoing-courses">
    {% for course in in_progress_courses %}
      {{ course }}
    {% endfor %}
  </div>
{% endif %}

{% if completed_courses %}
  <h3 class='certificates_title'>{{ 'My Certificates'|t }}</h3>
  <div class="completed-courses">
    {% for course in completed_courses %}
      <p>{{ course|raw }}</p>
    {% endfor %}
  </div>
{% endif %}

<h3 class='profile_title'>{{ 'My Profile'|t }}</h3>
<div class="profile-section">
  <p class="profile-text">
    {{ 'Hier kannst du deine Profildaten einsehen und bearbeiten'|t }}
    <a href="/user" class="profile-button">{{ 'Profile  >'|t }}</a>
  </p>
</div>
